---
import FourOhFourIllustration from '../assets/404.svg'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>
  <Header />
  <main>
    <div class='container mx-auto mt-16 px-4 py-16'>
      <div class='flex flex-col items-center justify-center'>
        <FourOhFourIllustration class='h-fit w-96' />
      </div>
      <div class='flex flex-col items-center justify-center pt-16 pb-4'>
        <h1 class='text-9xl font-bold text-gray-900'>404</h1>
        <h2 class='text-4xl font-medium text-gray-900'>P치gina no encontrada</h2>
        <p class='mt-4 text-center text-gray-500'>La p치gina que est치s buscando no existe o no est치 disponible.</p>
        <a
          href='/'
          data-astro-prefetch='viewport'
          class='mt-8 rounded-lg bg-teal-700 px-8 py-3 font-medium text-white transition-all hover:bg-teal-800'
          >Volver al inicio</a
        >
      </div>
    </div>
  </main>
</Layout>
