---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
---

<Layout>
  <div class='flex h-screen flex-col items-center justify-center p-8'>
    <Header />
    <div class='flex max-w-(--breakpoint-sm) flex-col items-center justify-center'>
      <Image
        src='https://www.instructure.com/sites/default/files/image/2021-12/Canvas_Horizontal_ByInstructure_Color_RGB.png'
        alt='Canvas LMS'
        width={1095}
        height={321}
        loading='eager'
        class='mt-8 mb-4 h-16 w-64 object-contain'
      />
      <p class='text-center'>
        Este sitio verifica si tu navegador es compatible con la plataforma Canvas LMS de Instructure. Si ves un mensaje
        de error, por favor actualiza tu navegador o utiliza uno de los navegadores recomendados.
      </p>
      <iframe
        title='Canvas LMS Browser Check'
        class='h-[50vh] w-[95vw] border-0 sm:h-[360px] sm:w-[650px]'
        src='https://community.canvaslms.com/xjnht99997/plugins/custom/instructure/instructure/browser-version-check-tool'
      ></iframe>
    </div>
  </div>
</Layout>
