---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <main>
    <div class='flex h-screen flex-col items-center justify-center'>
      <h1 class='text-4xl font-bold text-gray-900'>¡Se ha enviado tu mensaje con éxito!</h1>
      <p class='mt-2 text-gray-600'>Uno de nuestros asesores se pondrá en contacto contigo en breve.</p>

      <a
        href='/'
        class='mt-4 rounded-lg bg-teal-700 px-8 py-3 font-medium text-white transition-all hover:bg-teal-800'
        data-astro-prefetch='viewport'
      >
        Volver al inicio
      </a>
    </div>
  </main>
</Layout>
