<form action='https://api.web3forms.com/submit' method='POST' class='space-y-4'>
  <input type='hidden' name='access_key' value='cfd4f031-74bc-4e52-a430-cc1040f5d906' />
  <input type='hidden' name='from_name' value='Bioeasy Galenos - Formulario de Contacto' />

  <div class='flex flex-col gap-1'>
    <label for='email' class='block text-sm font-medium text-gray-900'> Correo electrónico </label>
    <input
      type='email'
      id='email'
      name='email'
      class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-xs focus:border-teal-500 focus:ring-teal-500'
      placeholder='tunombre@email.com'
      required
    />
  </div>
  <div class='flex flex-col gap-1'>
    <label for='subject' class='block text-sm font-medium text-gray-900'> Asunto </label>
    <input
      type='text'
      id='subject'
      name='subject'
      class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-3 text-sm text-gray-900 shadow-xs focus:border-teal-500 focus:ring-teal-500'
      placeholder='¿Cómo podemos ayudarte?'
      required
    />
  </div>
  <div class='flex flex-col gap-1'>
    <label for='message' class='block text-sm font-medium text-gray-900'> Mensaje </label>
    <textarea
      id='message'
      rows='6'
      name='message'
      class='block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-xs focus:border-teal-500 focus:ring-teal-500'
      placeholder='Escribe más detalles aquí.'
      minlength='20'
      required></textarea>
  </div>

  <input type='hidden' name='redirect' value='https://bgmedicina.com/success?type=contact' />

  <p class='text-justify text-xs font-light text-gray-500'>
    Considerando la vigencia del Decreto Legislativo Nº 1390 (Restricciones a la difusión de publicidad masiva) y,
    siendo <strong>Bioeasy Galenos</strong> respetuoso del ordenamiento jurídico vigente, le solicitamos nos brinde su consentimiento
    para mantenerlo informado acerca de nuestros diferentes servicios a través del envío de nuestra publicidad. La información
    brindada se utilizará exclusivamente para el envío de publicidad, por lo que se encontrará protegida por la Ley Nº 29733
    - Ley de Protección de datos personales.
  </p>

  <button
    type='submit'
    class='rounded-lg bg-teal-700 px-5 py-3 text-center text-sm font-medium text-white transition-all hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 focus:outline-hidden sm:w-fit'
  >
    Enviar Mensaje
  </button>
</form>
