---
import Skeleton from './Skeleton.astro'
---

<div class='flex flex-wrap items-center justify-center gap-3'>
  <Skeleton className='h-9 w-20 rounded-full sm:h-10' />
  <Skeleton className='h-9 w-36 rounded-full sm:h-10' />
  <Skeleton className='h-9 w-36 rounded-full sm:h-10' />
  <Skeleton className='h-9 w-42 rounded-full sm:h-10' />
</div>
