---
import Skeleton from './Skeleton.astro'
---

<div class='flex flex-col flex-wrap items-center justify-center gap-3 py-4 sm:flex-row md:py-8'>
  <Skeleton className='h-11.5 w-22 rounded-full' />
  <Skeleton className='h-11.5 w-40 rounded-full' />
  <Skeleton className='h-11.5 w-40 rounded-full' />
  <Skeleton className='h-11.5 w-45 rounded-full' />
</div>
