---
import { db, CourseCategories } from 'astro:db'

const courseCategories = await db.select().from(CourseCategories)
---

<div
  class='courses__content__filter flex flex-col flex-wrap items-center justify-center gap-3 py-4 sm:flex-row md:py-8'
>
  <button
    class='courses__content__filter__item rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 transition-all hover:border-gray-200 focus:ring-4 focus:outline-hidden'
    data-filter='all'
  >
    Todos
  </button>
  {
    courseCategories.map((category) => (
      <button
        class='courses__content__filter__item rounded-full border border-white bg-white px-5 py-2.5 text-center text-base font-medium text-gray-900 transition-all hover:border-gray-200 focus:ring-4 focus:outline-hidden'
        data-filter={category.tag}
      >
        {category.name}
      </button>
    ))
  }
</div>
