---
import { db, CourseCategories } from 'astro:db'

const courseCategories = await db.select().from(CourseCategories)

const buttonClassName =
  'rounded-full border border-gray-200 text-center text-sm font-medium text-gray-900 transition-all hover:border-teal-700 hover:text-teal-700 h-9 sm:h-10 px-5'
---

<div class='flex flex-wrap items-center justify-center gap-3'>
  <button class={buttonClassName} data-filter='all'> Todos </button>
  {
    courseCategories.map((category) => (
      <button class={buttonClassName} data-filter={category.tag}>
        {category.name}
      </button>
    ))
  }
</div>
