---
import CourseCard from './CourseCard.astro'

import { db, Courses } from 'astro:db'
const courses = await db.select().from(Courses)
---

<div
  class='courses__content__grid grid max-w-(--breakpoint-xl) grid-cols-1 justify-items-center gap-4 px-4 sm:grid-cols-2 md:grid-cols-2 md:px-8 lg:grid-cols-3 lg:px-16'
>
  {courses.map((course) => <CourseCard key={course.id} course={course} />)}
</div>

<script>
  import mixitup from 'mixitup'

  const containerEl = document.querySelector('.courses__content__grid')

  const mixer = mixitup(containerEl, {
    selectors: {
      target: '.course__card',
    },
    animation: {
      duration: 300,
    },
  })

  console.log(mixer)
</script>
