---
import { Image } from 'astro:assets'
import HeaderMobileMenuButton from '@/components/HeaderMobileMenuButton.tsx'
import HeaderNavLinks from '@/components/HeaderNavLinks.tsx'

interface Props {
  isLanding?: boolean
}

const { isLanding = false } = Astro.props
---

<header class='fixed start-0 top-0 z-20 w-full bg-white shadow-md'>
  <nav class='mx-auto flex max-w-7xl flex-wrap items-center justify-between p-4'>
    <div>
      <a href={isLanding ? '/#' : '/'} class='flex items-center space-x-3 rtl:space-x-reverse' data-astro-prefetch>
        <span class='sr-only'>Bioeasy Galenos</span>
        <Image
          class='h-8 w-auto max-sm:hidden'
          src='/img/logo.webp'
          width={1299}
          height={262}
          alt='Bioeasy Galenos Logo'
        />
        <Image
          class='h-8 w-auto sm:hidden'
          src='/img/logo_sm.webp'
          width={262}
          height={262}
          alt='Bioeasy Galenos Logo'
        />
      </a>
    </div>
    <div class='flex gap-3 lg:order-2 lg:space-x-0 rtl:space-x-reverse'>
      <a
        href='/campusvirtual'
        target='_blank'
        rel='noreferrer noopener'
        class='cursor-pointer rounded-lg bg-teal-700 px-4 py-2 text-center text-sm font-medium text-white transition-all hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 focus:outline-hidden'
      >
        Campus Virtual
      </a>

      <HeaderMobileMenuButton client:load />
    </div>
    <HeaderNavLinks client:load />
  </nav>
</header>
