---
import { cn } from '../lib/utils'
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<div data-slot='skeleton' class={cn('animate-pulse rounded-md bg-gray-200', className)}></div>
