---
import Skeleton from './Skeleton.astro'
---

<div class='grid max-w-6xl grid-cols-2 justify-items-center gap-2 md:grid-cols-3 md:gap-4 lg:grid-cols-4'>
  {
    Array(12)
      .fill(0)
      .map(() => (
        <div class='flex w-full flex-col items-center gap-3 rounded-lg border border-gray-200 bg-white px-4 pt-4 pb-4 shadow-sm transition-all duration-300 hover:shadow-lg'>
          <Skeleton className='aspect-square h-auto w-full max-w-44 rounded-full' />
          <div class='flex flex-col items-center gap-0.5'>
            <Skeleton className='w-36 md:w-44 h-6 sm:my-0.5' />
            <Skeleton className='w-20 h-4 my-0.5' />
          </div>
        </div>
      ))
  }
</div>
