---
const { why_description } = Astro.props
---

<div
  class='grid max-w-sm items-center rounded-lg border border-gray-200 bg-white p-6 shadow-sm transition-all hover:shadow-md'
>
  <p class='my-2 text-center font-normal text-gray-700 select-none'>{why_description}</p>
</div>
