@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth
}

.mixitup-control-active {
  @apply text-teal-700 hover:text-white border border-teal-600 bg-white hover:bg-teal-700 focus:ring-4 focus:outline-none focus:ring-transparent rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3
}

.active_link {
  @apply text-white bg-teal-700 rounded md:bg-transparent md:text-teal-700 md:p-0
}

.section__heading {
  background-image: linear-gradient(180deg, rgba(0,207,208,0.79) 0%, rgba(0,76,92,0.8) 100%), url(https://link.storjshare.io/s/jwgrk6ktfi3ihck2ef22ugoq3q2a/jpxoi/CDN%20Upload/bioeasy-landing-image.png?wrap=0);
  background-blend-mode: multiply;
  background-size: cover;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}