---
import '@fontsource-variable/nunito'
import nunitoVariableWoff2 from '@fontsource-variable/nunito/files/nunito-latin-wght-normal.woff2?url'

import '../styles/global.css'
---

<html lang='es'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <!--=============== FAVICON ===============-->
    <link rel='apple-touch-icon' sizes='180x180' href='/favicon/apple-touch-icon.png?v=2' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon/favicon-32x32.png?v=2' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon/favicon-16x16.png?v=2' />
    <link rel='manifest' href='/favicon/site.webmanifest?v=2' />
    <link rel='mask-icon' href='/favicon/safari-pinned-tab.svg?v=2' color='#008186' />
    <link rel='shortcut icon' href='/favicon/favicon.ico?v=2' />
    <meta name='apple-mobile-web-app-title' content='Bioeasy Galenos' />
    <meta name='application-name' content='Bioeasy Galenos' />
    <meta name='msapplication-TileColor' content='#008186' />
    <meta name='msapplication-config' content='/favicon/browserconfig.xml?v=2' />

    <link rel='canonical' href='https://bgmedicina.com' />

    <link rel='preload' as='font' type='font/woff2' href={nunitoVariableWoff2} crossorigin='anonymous' />

    <!--=============== SAFARI BAR COLOR ===============-->
    <meta name='theme-color' content='#ffffff' media='(prefers-color-scheme: light)' />
    <meta name='theme-color' content='#0a5457' media='(prefers-color-scheme: dark)' />

    <!--=============== SEO ===============-->
    <!-- Primary Meta Tags -->
    <title>Bioeasy Galenos — Academia de Medicina</title>
    <meta name='title' content='Bioeasy Galenos — Academia de Medicina' />
    <meta
      name='description'
      content='En Bioeasy Galenos creemos en el potencial de nuestros estudiantes y ofrecemos un método de estudio eficaz para que puedan rendir con éxito los exámenes de Medicina.'
    />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://bgmedicina.com/' />
    <meta property='og:title' content='Bioeasy Galenos — Academia de Medicina' />
    <meta
      property='og:description'
      content='En Bioeasy Galenos creemos en el potencial de nuestros estudiantes y ofrecemos un método de estudio eficaz para que puedan rendir con éxito los exámenes de Medicina.'
    />
    <meta property='og:image' content='https://bgmedicina.com/img/web_bg.webp' />
    <meta property='og:image:alt' content='Doctor vestido de superhéroe, con un antifaz rojo y una capa.' />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://bgmedicina.com/' />
    <meta property='twitter:title' content='Bioeasy Galenos — Academia de Medicina' />
    <meta
      property='twitter:description'
      content='En Bioeasy Galenos creemos en el potencial de nuestros estudiantes y ofrecemos un método de estudio eficaz para que puedan rendir con éxito los exámenes de Medicina.'
    />
    <meta property='twitter:image' content='https://bgmedicina.com/img/web_bg.webp' />
  </head>
  <body>
    <slot />
  </body>
</html>
